"*":
  core:
    closeDeletedFileTabs: true
    telemetryConsent: "limited"
  editor: {}
  "exception-reporting":
    userId: "071acc03-eb70-469e-bea1-52d2a41c70cd"
  react:
    enabledForAllJavascriptFiles: true
  "vim-mode-plus":
    flashOnUndoRedo: false
    statusBarModeStringStyle: "long"
    stayOnYank: true
    useSmartcaseForSearchCurrentWord: true
  welcome:
    showOnStartup: false
".coffee.jsx.source":
  editor:
    showIndentGuide: false
".js.jsx.source":
  editor:
    showIndentGuide: true
    showInvisibles: false
